<!DOCTYPE html>
<html>
{% include "home/head.html" %}
{% load staticfiles %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/common.css' %}" rel="stylesheet">
<link href="{% static 'css/home/nav.css' %}" rel="stylesheet">
<link href="{% static 'css/home/footer.css' %}" rel="stylesheet">
<link href="{% static 'css/user/profile.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/md5.js' %}"></script>
<script>
$(function(){
    $('#form').bind('submit',function(){
        $('#password').val(hex_md5($('#password').val()).toUpperCase());
        $('#confirmPassword').val(hex_md5($('#confirmPassword').val()).toUpperCase());
    });
    $('#oldPassword').bind('blur',function(){
        $.ajax({
           type: "GET",
           url: "{% url 'index' %}user/password/check/"+hex_md5($('#oldPassword').val()).toUpperCase(),
           success: function(msg){
              if(msg > 0) {
                 $('#error-span').html('原始密码输入错误，请重新输入！');
                 $('#error-div').show();
              } else {
                 $('#error-span').html('');
                 $('#error-div').hide();
              }
           }
        });
    });
    $('#password').bind('blur',function(){
        if($('#password').val()==$('#oldPassword').val()) {
            $('#error-span').html('新密码不能与原始密码相同！');
            $('#error-div').show();
            $('#password').val('');
        } else {
            $('#error-span').html('');
            $('#error-div').hide();
        }
    });
    $('#confirmPassword').bind('blur',function(){
        if($('#confirmPassword').val()!=$('#password').val()) {
            $('#error-span').html('确认密码必须等于新密码！');
            $('#error-div').show();
            $('#confirmPassword').val('');
        } else {
            $('#error-span').html('');
            $('#error-div').hide();
        }
    });
});
</script>
<body>
<div class="wrap">
    {% include "home/nav.html" %}
    <div class="container">
        <div class="profile-left">
            <div class="profile-container-box profile-brief">
                {% include "user/logo.html" %}
            </div>
            <div class="profile-container-box profile-menu">
                {% include "user/menu.html" %}
            </div>
        </div>
        <div class="profile-right profile-container-box">
            {% include "user/profile/profile_tabs.html" %}
            <form id="form" class="form-horizontal form-weight" action="{% url 'user:password/save' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-offset-1 col-lg-11">
                    <div id="error-div" class="alert alert-danger">
                        <span id="error-span"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="password">原始密码</label>
                <div class="col-lg-10">
                    <input type="password" required="true" class="form-control" name="oldPassword" id="oldPassword" placeholder="请输入原始密码">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="password">新密码</label>
                <div class="col-lg-10">
                    <input type="password" required="true" class="form-control" name="password" id="password" placeholder="请输入新密码">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="password">确认密码</label>
                <div class="col-lg-10">
                    <input type="password" required="true" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="请再次输入新密码">
                </div>
            </div>
            <div class="form-group">
                <div class="col-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-save">保存</button>
                </div>
            </div>
            </form>
        </div>

    </div>
</div>
</div>
{% include "home/footer.html" %}
</body>
</html>