<!DOCTYPE html>
<html>
{% include "home/head.html" %}
{% load staticfiles %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/common.css' %}" rel="stylesheet">
<link href="{% static 'css/home/nav.css' %}" rel="stylesheet">
<link href="{% static 'css/home/footer.css' %}" rel="stylesheet">
<link href="{% static 'css/user/profile.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/md5.js' %}"></script>
<script>
$(function(){
    $('#form').bind('submit',function(){

    });
    $('#btn-back').bind('click',function(){
        document.location.href='{% url 'user:blog' %}';
    });
});
</script>
<body>
<div class="wrap">
    {% include "home/nav.html" %}
    <div class="container">
        <div class="profile-left">
            <div class="profile-container-box profile-brief">
                {% include "user/logo.html" %}
            </div>
            <div class="profile-container-box profile-menu">
                {% include "user/menu.html" %}
            </div>
        </div>
        <div class="profile-right profile-container-box">
            {% include "user/blog/blog_tabs.html" %}
            <form id="form" class="form-horizontal form-weight" action="{% url 'user:blog/save' %}" method="post">
            {% csrf_token %}
            {% if article %}
            <input type="hidden" name="id" value="{{ article.id }}">
            {% endif %}
            <div class="form-group">
                <div class="col-offset-1 col-lg-11">
                    <div id="error-div" class="alert alert-danger">
                        <span id="error-span"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="password">文章标题</label>
                <div class="col-lg-10">
                    <input type="text" required="true" class="form-control" name="title" id="title" {% if article %} value="{{ article.title }}" {% endif %} {% if not article %} placeholder="请输入文章标题" {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <div class="col-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-save">保存</button>
                    <button type="button" id="btn-back" class="btn btn-save">返回</button>
                </div>
            </div>
            </form>
        </div>

    </div>
</div>
</div>
{% include "home/footer.html" %}
</body>
</html>